#banner {
  padding: 140px 0px 120px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  .banner-content {
    padding-top: 100px;
    h5 {
      margin-bottom: 15px;
      color: #00f7ff;
    }
    h1 {
      font-size: 80px;
      line-height: 90px;
      color: $primary-color;
      margin-bottom: 15px;
      span {
        display: block;
      }
    }
    p {
      font-size: 22px;
      line-height: 34px;
      margin: 0;
      margin-bottom: 33px;
      color: rgba(255, 255, 255, 0.9);
    }
    a {
      padding: 12px 48px 8px;
      line-height: 40px;
      border-radius: 30px;
      background: -webkit-linear-gradient(92deg, #ff8359 0%, #ffdf40 100%);
      box-shadow: 0px 19px 56px 0px rgba(0, 0, 0, 0.2);
      letter-spacing: 2px;
      color: $primary-color;
      font-size: 18px;
      font-weight: 500;
      font-family: $secondary_font_family;
      display: inline-block;
    }
  }
  .banner-bottom-image {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100%;
  }
}

#catagory-slider {
  position: relative;
  margin-top: -140px;
  background-color: #f6f9ff;
  overflow: hidden;
  .title {
    padding-left: 30px;
    z-index: 1;
    h5 {
      color: $primary-color;
    }
  }
  .slider {
    margin-top: 15px;
    .item {
      width: 190px;
      a {
        display: block;
        padding: 40px 15px;
        text-align: center;
        text-transform: uppercase;
        color: $black-color;
        margin: 15px;
        background: $primary-color;
        border-radius: 10px;
        box-shadow: -2.034px 6.84px 10px 0px rgba(55, 34, 154, 0.3);
        img {
          display: block;
          height: 88px;
          width: unset !important;
          margin: 0px auto 10px;
        }
        span {
          text-transform: uppercase;
          color: $black-color;
          font-weight: 500;
          font-family: $secondary_font_family;
        }
      }
    }
    .owl-nav {
      position: absolute;
      top: -23%;
      right: 0;
      @include slider-navs();
    }
  }
}

#car-auction {
  padding: 120px 0px;
  background-color: #f6f9ff;
  overflow: hidden;
  position: relative;
  z-index: 0;
  .title {
    margin-bottom: 55px;
    img {
      height: 50px;
      width: auto;
      margin-right: 30px;
    }
    .text {
      p {
        margin-top: 5px;
      }
    }
  }
  .header-button {
    @include section-header-btn();
  }
  .auction-item {
    padding: 10px 10px 30px;
    border-radius: 10px;
    background-color: $primary-color;
    box-shadow: 0px 9px 20px 0px rgba(22, 26, 57, 0.36);
    margin: 0 auto 30px;
    .image {
      position: relative;
      img {
        width: 330px;
        height: 247px;
        object-fit: cover;
      }
      .star {
        color: #ff7800;
        position: absolute;
        top: 20px;
        right: 20px;
      }
      .hammer {
        width: 40px;
        height: 40px;
        color: #ffffff;
        line-height: 40px;
        font-size: 18px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
        text-align: center;
        background: linear-gradient(135deg, #b122e6 0%, #ff63de 100%);
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.13);
      }
    }
    .auction-content {
      h5 {
        margin: 0;
        line-height: 28px;
        font-size: 20px;
        padding: 16px 0;
      }
      .bid {
        border-bottom: 2px dotted #deddf5;
        border-top: 2px dotted #deddf5;
        .current-bid {
          padding: 12px 10px;
          align-items: center;
          justify-content: center;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            width: 1px;
            right: -10%;
            bottom: 15px;
            top: 15px;
            background: #bfbee8;
          }
          i {
            line-height: 1;
            font-size: 36px;
            color: $green-color;
          }
          p {
            margin: 0;
            padding-left: 15px;
            color: $green-color;
            font-size: 14px;
            span {
              font-size: 20px;
              line-height: 20px;
              color: $black-color;
            }
          }
        }
        .buy-now-price {
          padding: 12px 10px;
          align-items: center;
          justify-content: center;
          i {
            line-height: 1;
            font-size: 36px;
            color: $red-color;
          }
          p {
            margin: 0;
            padding-left: 15px;
            color: $red-color;
            font-size: 14px;
            span {
              font-size: 20px;
              line-height: 20px;
              color: $black-color;
            }
          }
        }
      }
    }
    .time {
      font-size: 18px;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: "Roboto", sans-serif;
      .countdown {
        text-shadow: 0px 5px 3px rgba(245, 49, 127, 0.2);
        background: linear-gradient(#ff7c6e, #f5317f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      span {
        text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.19);
        color: $green-color;
        padding-left: 35px;
        border-left: 1px solid #d0cff0;
      }
    }
    .button {
      a {
        display: inline-block;
        color: $primary-color;
        border-radius: 30px;
        font-weight: 500;
        padding: 12px 30px 10px;
        font-size: 18px;
        width: 100%;
        max-width: 230px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        background: -webkit-linear-gradient(90deg, #3da9f5 0%, #683df5 100%);
        box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.5);
      }
    }
  }

  .car-bg {
    min-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
    img {
      width: 100%;
    }
  }
}
