@mixin transition($property) {
    -webkit-transition: $property; // safari
    -moz-transition: $property; // mozilla
    -ms-transition: $property; // ie
    -o-transition: $property; // opera
    transition: $property; // chomre,yandex,edge
}

@mixin countdown-style(){
    text-shadow: 0px 5px 3px rgba(245, 49, 127, 0.2);
    background: linear-gradient(#ff7c6e, #f5317f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}