// color
$primary-color: #ffffff;
$black-color: #171d1c;
$gray-color: #52606d;
$red-color: #ee4730;
$navbar-black-color: #693ff5;

// font-family
$primary_font_family: 'Open Sans', sans-serif;
$secondary_font_family: 'Roboto', sans-serif;
